/.history/
*.pyc
__pycache__/
output.log

/data/*.txt
/dataset

*.sqlite
gpt_log.log

generated/*.json
generated/*.txt

/data_transition_*.json

/results/
errors.txt

/gpt_log_dump/

/traffic/

/train-ticket-snapshot-*.sql
/find-bug-dump/

/generated/joined_logs/

/gen-inv-dump/

/hmm-temp/
/inv-gen-prompts/

/tmp/

/logs/
*.7z